/* Теги и общие надстройки */

@font-face {
  font-family: Stetica;
  src: url("../assets/fonts/Stetica.ttf");
}

* {
  margin: 0;
}

html,
body,
#root {
  overflow: hidden;
  height: 100%;
  margin: 0;
  background-color: #212124;
}

span {
  font-family: Stetica;
  color: #e4e7e4;
}

a {
  color: #e4e7e4;
  text-decoration: none;
}

main {
  margin: 22px 12px 0px 26px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

/* Работа с первой секцией */

.section1 {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu {
  display: flex;
  gap: 0.9vw;
}

.menu a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #e4e7e4;
}

.menu a::after {
  position: absolute;
  content: "";
  bottom: -2px;
  right: -50%;
  transform: translateX(-50%);
  height: 1px;
  width: 0;
  background-color: #e4e7e4;
  transition: 0.3s linear;
}

.menu a:hover::after {
  width: 100%;
}

.author_name {
  font-size: 68px;
  padding-bottom: 30px;
}

/* Работа с второй секцией */

.section2 {
  width: 70%;
}

/* Работа с третьей секцией */

.section3 {
  writing-mode: vertical-rl;
  display: flex;
  gap: 1vw;
}

.all_photos {
  writing-mode: vertical-rl;
  margin: 0;
}

.email_text {
  font-size: 2.2vw;
}

.icon_item {}

.icons {
  display: flex;

  width: 40px;
  height: 40px;
}

/* Major секция */

.major_section {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.major_section> ::-webkit-scrollbar {
  width: 0;
}

.major_section> :nth-child(odd) {
  align-self: start;
  animation: scrollUp 120s linear 1;
}

.major_section :nth-child(even) {
  align-self: end;
  animation: scrollDown 120s linear 1;
}

.major_section> :nth-child(odd):hover {
  cursor: pointer;
  z-index: 1;
}

.major_section> :nth-child(even):hover {
  cursor: pointer;
  z-index: 1;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-300%);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-300%);
  }

  100% {
    transform: translateY(0);
  }
}

/* Contact секция */

.contacts_section {
  width: 80%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.contact_photo {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.contacts_items {
  width: 100%;
  height: 60%;
  position: absolute;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2vh;
}

.contacts_title {
  font-size: 3vw;
  font-weight: 900;
}

.contacts_text {
  width: 80%;
}

/* ---------- FORM ---------- */

.form {
  width: 100%;
  position: relative;
  height: 60px;
  overflow: hidden;
}

.form input {
  width: 100%;
  height: 100%;

  padding-top: 20px;

  border: none;
  outline: none;

  background: transparent;
  color: white;

  font-size: 1rem;
}

.label-name {
  position: absolute;

  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  pointer-events: none;

  border-bottom: 1px solid white;
}

.label-name::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: -1px;

  width: 100%;
  height: 100%;

  border-bottom: 3px solid #ffffff;

  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;

  left: 0;
  bottom: 5px;

  transition: all 0.3s ease;
}

.form input:focus+.label-name .content-name,
.form input:not(:placeholder-shown)+.label-name .content-name {
  transform: translateY(-150%);
  font-size: 0.8rem;
  color: #ffffff;
}

.form input:focus+.label-name::after,
.form input:not(:placeholder-shown)+.label-name::after {
  transform: translateX(0%);
}


/* Секция Услуг (Services) */

.services {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 3vw;
  border: 1px solid white;
}

.services_items {
  width: 40%;
  height: 73%;
  border: 1px solid white;
}