/* Теги и общие надстройки */

@font-face {
  font-family: Stetica;
  src: url("../assets/fonts/Stetica.ttf");
}

* {
  margin: 0;
}

html,
body,
#root {
  overflow: hidden;
  height: 100%;
  margin: 0;
  background-color: #212124;
}

span {
  font-family: Stetica;
  color: #e4e7e4;
}

a {
  color: #e4e7e4;
  text-decoration: none;
}

main {
  margin: 22px 12px 0px 26px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

/* Intro */

.intro_photo {
  position: fixed;
  inset: 0;
  z-index: 9999;
  width: 96vw;
  height: 100vh;
  object-fit: cover;
  animation: intro_scale 1.5s ease-in-out 1;
  animation-fill-mode: forwards;
}

@keyframes intro_scale {
  0% {
    width: 112vw;
    height: 120vh;
  }

  100% {
    width: 96vw;
    height: 100vh;
  }
}

.intro_photo.active {
  animation: intro_scroll 0.9s ease-in 1;
  animation-fill-mode: forwards;
}

@keyframes intro_scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    z-index: -9999;
  }
}

/* Работа с первой секцией */

.section1 {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu {
  display: flex;
  gap: 0.9vw;
}

.menu a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #e4e7e4;
}

.menu a::after {
  position: absolute;
  content: "";
  bottom: -2px;
  right: -50%;
  transform: translateX(-50%);
  height: 1px;
  width: 0;
  background-color: #e4e7e4;
  transition: 0.3s linear;
}

.menu a:hover::after {
  width: 100%;
}

.author_name {
  font-size: 68px;
  padding-bottom: 30px;
  color: #e4e7e4;
}

/* Работа с второй секцией */

.section2 {
  width: 70%;
}

/* Работа с третьей секцией */

.section3 {
  writing-mode: vertical-rl;
  display: flex;
  gap: 1vw;
}

.all_photos {
  writing-mode: vertical-rl;
  margin: 0;
}

.email_text {
  font-size: 2.2vw;
}

.icon_item {
}

.icons {
  display: flex;

  width: 40px;
  height: 40px;
}

/* Major секция */

.major_section {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.major_section > ::-webkit-scrollbar {
  width: 0;
}

.major_section > :nth-child(odd) {
  align-self: start;
  animation: scrollUp 120s linear 1;
}
.major_section :nth-child(even) {
  align-self: end;
  animation: scrollDown 120s linear 1;
}
.major_section > :nth-child(odd):hover {
  cursor: pointer;
  z-index: 1;
}

.major_section > :nth-child(even):hover {
  cursor: pointer;
  z-index: 1;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-300%);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-300%);
  }

  100% {
    transform: translateY(0);
  }
}

/* Contact секция */

.contacts_section {
  width: 80%;
  height: 100%;

  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.contact_photo {
  object-fit: contain;
  position: absolute;
  width: 100%;
  height: 100%;
}

.contacts_items {
  width: 100%;
  height: 60%;
  position: absolute;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2vh;
}

.contacts_title {
  font-size: 3vw;
  font-weight: 900;
}

.contacts_text {
  width: 80%;
}

/* ---------- FORM ---------- */

.form {
  width: 100%;
  height: 50%;
  position: relative;
  height: 6vh;
  overflow: hidden;
}

.form input {
  width: 100%;
  height: 100%;

  padding-top: 20px;

  border: none;
  outline: none;

  background: transparent;
  color: white;

  font-size: 1rem;
}

.label-name {
  position: absolute;

  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  pointer-events: none;

  border-bottom: 1px solid white;
}

.label-name::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: -1px;

  width: 100%;
  height: 100%;

  border-bottom: 3px solid #ffffff;

  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;

  left: 0;
  bottom: 5px;

  transition: all 0.3s ease;
}

.contact_form {
  margin-bottom: 70vh;
}

.form input:focus + .label-name .content-name,
.form input:not(:placeholder-shown) + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 0.8rem;
  color: #ffffff;
}

.form input:focus + .label-name::after,
.form input:not(:placeholder-shown) + .label-name::after {
  transform: translateX(0%);
}

.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-17 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-17:disabled {
  cursor: default;
}

.btn-17:-moz-focusring {
  outline: auto;
}

.btn-17 svg {
  display: block;
  vertical-align: middle;
}

.btn-17 [hidden] {
  display: none;
}

.btn-17 {
  border-radius: 99rem;
  border-width: 0.1vw;
  padding: 0.2rem 3rem;
  z-index: 0;
}

.btn-17,
.btn-17 .text-container {
  overflow: hidden;
  position: relative;
}

.btn-17 .text-container {
  display: block;
  mix-blend-mode: difference;
}

.btn-17 .text {
  display: block;
  position: relative;
}

.btn-17:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}

/* @-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
} */

.btn-17:after,
.btn-17:before {
  --skew: 0.2;
  background: #fff;
  content: "";
  display: block;
  height: 103%;
  left: calc(-46% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}

.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-17:hover:before {
  --progress: 100%;
}

.btn-17:hover:after {
  --progress: -102%;
}

/* Секция Услуг (Services) */

.services {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 3vw;
}

.services_items {
  width: 40%;
  height: 73%;
  background: linear-gradient(0deg, rgba(54, 54, 54, 1) 0%, rgba(26, 26, 26, 1) 100%);
  border: 1px solid white;
  border-radius: 3.5vw;

  transition:
    width 1.5s ease-in-out,
    height 1.5s ease-in-out,
    box-shadow 1.5s ease-in-out;
}

.services_items:hover {
  width: 70%;
  height: 90%;
  box-shadow: 0 0 30px 15px rgba(225, 225, 225, 0.3);
  animation: text_scale 5s ease-in-out 1;
  animation-fill-mode: forwards;
}

.services_items img {
  object-fit: cover;
  width: 100%;
}

.services_items_photo {
  overflow: hidden;
  height: 50%;
  border-top-left-radius: 3.5vw;
  border-top-right-radius: 3.5vw;
}

.services_items_text {
  padding: 0 2vh 2vh 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  gap: 1vh;
  font-family: Stetica;
  color: #e4e7e4;
  height: 50%;
}

.services_items_text_title {
  font-size: 2.8vw;
}

@keyframes text_scale {
  0% {
    font-size: 0.9vw;
  }

  30% {
    font-size: 1.2vw;
  }

  100% {
    font-size: 1.2vw;
  }
}
